body {
    margin: 0;
    padding: 0;
    background: linear-gradient( #7483f7, #45e0d5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .title {
    font-size: 90px !;
    margin-bottom: 40px ;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
  }
   
  .login-container {
    background: rgba(255, 255, 255, 0.665);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   
  box-sizing: border-box;
  }
   
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
   
  .form-group {
    margin-bottom: 15px;
  }
   
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }
   
  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
   
  .login-button {
    background-color: #125598;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
   
  .login-button:hover {
    background-color: #7552de;
  }
   
  .text {
    margin-top: 10px;
  }
   
  .link {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
  }